@charset "utf-8";
/* dialogues */

#log {
	border: 1px solid #fff;
	height: 340px;
	overflow: auto;
	margin: 10px 0;
	background: url(../images/dial.jpg);
	border-radius: 4px;
	padding: 5px 0;
	
}
#signal {
	height:200px;
	margin:10px auto;
	background:#CCC;
	font-family:"Courier New", Courier, monospace;
	font-size:12px;
	overflow: auto;
	border:2px solid #999;
	border-radius: 5px;
	padding: 3px;
	color:#006;
}
#signal p {
	font-size:14px;
	margin-top: 0;
	text-align:center;
	font-weight: bold;
}
.left_read, .left_unread, .right {
	border-radius: 4px;
	padding: 4px;
	margin: 4px;
	background:#40a2b5;
	color:#fff;
	border: 1px solid #fff;
	opacity: 0.8;
}
.left_unread {
	background:#2649b9;
}
.left {
	margin-right: 45px;
}
.right {
	margin-left: 45px;
}
.dial_under {
	text-align:center;
}
#btnSend {
	display:block;
	margin:15px auto;
	width: 200px;
	height:33px;
	font-weight:bold;
	color: #40a2b5;
	
}
#input {
	display:block;
	border: 1px solid #fff;
	width:506px;
	margin: 0 auto;
	height:25px;
	border-radius: 4px;
	
}
